.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid yellow;
}

a.nav-link:hover {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid red;
}
